  body {
    margin: 2em;
  }
  
  a, li {
    text-decoration: none;
  }

  .navlink {
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  .navlink:hover, .navlink:focus {
    border-bottom: 2px solid #1a1c20;
    text-decoration: none;
  }
  
    li {
      font-size: 16px;
    }
  
    .buttonlinks:hover, .buttonLinks:focus {
      border: none;
    }
  
  nav {
    background-image: url("https://cdn.glitch.com/ca419883-a7a2-45f5-8264-3fc76385439f%2Fbackground.png?v=1619062062957");
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
  }
  
  button:hover, button:focus {
    background-color: #1a1c20;
    color: #F17F39;
  }