* {
    color: #1a1c20;
}

html {
    background-image: url("https://cdn.glitch.com/ca419883-a7a2-45f5-8264-3fc76385439f%2Fbackground.png?v=1619062062957");
    background-attachment: fixed;
}

li {
    text-decoration: none;
    font-family: monospace;
}

a {
    text-decoration: underline;

}

a:hover, a:focus {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p, li, a {
    font-family: monospace;
}

h1, h2 {
    font-family: monospace;
}

.copyright {
    font-family: monospace;
    text-align: center;
    font-size: 15px;
}

button {
    border: 2px solid #1a1c20;
    cursor: pointer;
    width: 110px;
    height: 50px;
    background-color: transparent;
  }