  a {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }
  
  .navlink {
    padding: 5px;
    text-decoration: none;
  }
  
    li {
      font-size: 16px;
    }
  
  .navbar {
    margin: 2em;
  }