<!-- I probably won't ever add new pages to my site, but I may as well add a template just in case -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="../favicon.png">
        <link rel="stylesheet" href="style.css">
        <title>ph3b3</title>
    </head>
    <body>
        <main>
            <nav>
                <ul>
                    <a href="index.html">home</a><br>
                    <a href="https://soundcloud.com/ph3b3">music</a><br>
                    <a href="https://github.com/phoebe-leong/?tab=repositories">github</a><br>
                    <a href="stories.html">stories</a><br>
                </ul>
            </nav><br><br><br><br><br>
            <p>page content</p>
        </main>
    </body>
</html>