<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>story title</title>
        <link rel="icon" href="../../favicon.png">
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <main>
            <nav>
                <ul>
                    <a href="../index.html">home</a><br>
                    <a href="https://soundcloud.com/ph3b3">music</a><br>
                    <a href="https://github.com/phoebe-leong/?tab=repositories">github</a><br>
                    <a href="../stories.html">stories</a>
                </ul>
            </nav><br><br><br><br><br>
            <h2>
                story title
            </h2>
            <p>
                story blurb<br>
                Genre: story genre<br><br>

                <a href="pdfs/story-title.pdf">
                    <button>
                        Read
                    </button>
                </a>
            </p>
        </main>
    </body>
</html>